In [32]:
import numpy as np
import pandas as pd

import random
import names

In [33]:
age = random.randint(18, 70)
print(age)

67

In [34]:
ages = []
print(len(ages))

0

In [35]:
while len(ages) <= 30:
    ages.append(random.randint(18, 70))
    if len(ages) == 30:
        break

In [36]:
print(ages)

[39, 47, 63, 64, 31, 38, 58, 70, 18, 41, 50, 37, 36, 43, 39, 44, 67, 48, 70, 18, 66, 50, 57, 35, 40, 65, 64, 49, 38, 47]

In [37]:
for age in ages:
    print(age)

39
47
63
64
31
38
58
70
18
41
50
37
36
43
39
44
67
48
70
18
66
50
57
35
40
65
64
49
38
47

In [38]:
ages[:11]

[39, 47, 63, 64, 31, 38, 58, 70, 18, 41, 50]

In [39]:
df = pd.read_csv('/Users/jakemeissner/Documents/datasets/marketing_campaign.csv')
print(df.head())

  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...

In [40]:
df.iloc[0]

ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse    5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
Name: 0, dtype: object

In [50]:
df.columns[0]

'ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse'

In [51]:
df.columns[0][0]

'I'

In [47]:
df.columns[0].split()

['ID',
 'Year_Birth',
 'Education',
 'Marital_Status',
 'Income',
 'Kidhome',
 'Teenhome',
 'Dt_Customer',
 'Recency',
 'MntWines',
 'MntFruits',
 'MntMeatProducts',
 'MntFishProducts',
 'MntSweetProducts',
 'MntGoldProds',
 'NumDealsPurchases',
 'NumWebPurchases',
 'NumCatalogPurchases',
 'NumStorePurchases',
 'NumWebVisitsMonth',
 'AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Complain',
 'Z_CostContact',
 'Z_Revenue',
 'Response']

In [72]:
#df.iloc[1].split()
df.iloc[1][0]

'2174\t1954\tGraduation\tSingle\t46344\t1\t1\t08-03-2014\t38\t11\t1\t6\t2\t1\t6\t2\t1\t1\t2\t5\t0\t0\t0\t0\t0\t0\t3\t11\t0'

In [75]:
df = pd.read_csv('/Users/jakemeissner/Documents/datasets/cities_internet_prices_historical.24-10-2021.csv')
df.head()

,City,Region,Country,"Internet Price, 2010","Internet Price, 2011","Internet Price, 2012","Internet Price, 2013","Internet Price, 2014","Internet Price, 2015","Internet Price, 2016","Internet Price, 2017","Internet Price, 2018","Internet Price, 2019","Internet Price, 2020"
0,New York City,New York,United States of America,42.990000,49.998333,42.250000,55.932000,50.285000,53.458400,54.592667,59.236400,61.458125,61.734578,66.441395
1,"Washington, D.C.",District of Columbia,United States of America,35.000000,48.000000,49.285714,45.833333,47.000000,56.332593,59.169667,64.207083,64.923077,69.149750,60.590455
2,San Francisco,California,United States of America,41.666667,42.500000,36.500000,48.500000,47.000000,55.261429,53.051379,58.777778,63.246032,67.366667,68.988824
3,Berlin,NaN,Germany,30.864198,38.618357,20.509259,30.051020,32.565882,27.129710,26.470655,32.467125,36.439681,33.922920,35.827084
4,Los Angeles,California,United States of America,35.750000,43.625000,41.500000,37.500000,40.321000,47.606471,50.841642,56.282881,57.484105,63.014848,66.690222

ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse    4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
Name: 2, dtype: object