In [1]:
import numpy as np
import numpy_financial as npf
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split

# .map('{:,.2f}'.format) - - - for big numbers

In [2]:
df = pd.read_csv('/Users/jakemeissner/Documents/datasets/Employee.csv')
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [3]:
df['benched'] = df['EverBenched'] == 'Yes'

In [4]:
X = df[['JoiningYear', 'PaymentTier', 'Age', 'ExperienceInCurrentDomain', 'benched']].values
y = df['LeaveOrNot'].values

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [18]:
model = LogisticRegression()

In [19]:
model.fit(X, y)

LogisticRegression()

In [20]:
print(model.coef_, model.intercept_)

[[ 0.0010912  -0.73850987 -0.02552045 -0.04822364  0.17529999]] [-0.00126837]

In [21]:
y_pred = model.predict(X)
print((y == y_pred).sum())

3068

In [25]:
r_sq = model.score(X, y)

In [23]:
print(model.score(X, y))

0.6593595529765742

In [12]:
print('accuracy:', accuracy_score(y, y_pred))
print('precision:', precision_score(y, y_pred))
print('recall:', recall_score(y, y_pred))
print('f1:', f1_score(y, y_pred))

accuracy: 0.6593595529765742
precision: 0.5189873417721519
recall: 0.128125
f1: 0.2055137844611529

In [13]:
print(confusion_matrix(y, y_pred))

[[2863  190]
 [1395  205]]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [15]:
print(X_train.shape, y_train.shape)

(3489, 5) (3489,)

In [16]:
df.sort_values('Age')

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,benched
63,Bachelors,2014,Pune,1,22,Female,No,0,1,False
4357,Bachelors,2014,Bangalore,3,22,Male,No,0,0,False
4377,Bachelors,2013,Bangalore,3,22,Male,Yes,0,0,True
4048,Bachelors,2014,Bangalore,3,22,Male,No,0,0,False
4225,Bachelors,2016,Bangalore,3,22,Male,No,0,0,False
...,...,...,...,...,...,...,...,...,...,...
3004,Bachelors,2016,Bangalore,3,41,Male,No,0,0,False
3775,Masters,2017,Bangalore,2,41,Male,Yes,2,1,True
3355,Bachelors,2016,Bangalore,3,41,Male,No,4,0,False
3173,Bachelors,2013,Bangalore,3,41,Male,No,2,0,False
3247,Bachelors,2012,Bangalore,3,41,Female,No,4,0,False

In [17]:
df.groupby('Gender', axis=1)